VITE_API_BASE_URL=https://iipservice.azaken.com
VITE_DB_ADAPTER_BASE_URL=https://dbadapter.azaken.com
VITE_FILE_ADAPTER_BASE_URL=https://fileadapter.azaken.com
VITE_CONTRACT_REGISTRY_URL=https://iipregistry.azaken.com
